# From MP Data Matching Experiment Data

In [110]:
import os
import pandas as pd
from pymatgen.core.composition import Composition

In [3]:
mp_df = pd.read_csv('./mp_band_gap.csv')
exp_df = pd.read_csv('./exp_band_gap.csv')

In [4]:
mp_df.head()

  composition  band_gap
0   Ac1Ag1Te2    0.0794
1    Ac1Al1O3    4.1024
2    Ac1Cr1O3    2.0031
3    Ac1Fe1O3    0.9888
4    Ac1Ga1O3    2.8959

In [28]:
# transform the composition_str column to composition column
from matminer.featurizers.conversions import StrToComposition

stc = StrToComposition(target_col_id='composition_type')
mp_trans_df = stc.featurize_dataframe(mp_df, 'composition', ignore_errors=True)

StrToComposition:   0%|          | 0/46071 [00:00<?, ?it/s]

In [29]:
mp_trans_df.rename(columns={'composition': 'composition_'}, inplace=True)

In [91]:
mp_trans_df['composition'] = mp_trans_df['composition_type'].apply(lambda x: x.reduced_composition)

In [ ]:
# composition_: full composition
# composition: reduced composition
# composition_type: pymatgen composition object
mp_trans_df.head(30)

   composition_  band_gap composition_type      composition
0     Ac1Ag1Te2    0.0794     (Ac, Ag, Te)     (Ac, Ag, Te)
1      Ac1Al1O3    4.1024      (Ac, Al, O)      (Ac, Al, O)
2      Ac1Cr1O3    2.0031      (Ac, Cr, O)      (Ac, Cr, O)
3      Ac1Fe1O3    0.9888      (Ac, Fe, O)      (Ac, Fe, O)
4      Ac1Ga1O3    2.8959      (Ac, Ga, O)      (Ac, Ga, O)
5     Ac1Ga1Te2    0.4910     (Ac, Ga, Te)     (Ac, Ga, Te)
6         Ac1H3    0.6407          (Ac, H)          (Ac, H)
7     Ac1In1Te2    0.3799     (Ac, In, Te)     (Ac, In, Te)
8      Ac1Mg149    0.2168         (Ac, Mg)         (Ac, Mg)
9       Ac1O1F1    4.2566       (Ac, O, F)       (Ac, O, F)
10     Ac1Sc1O3    3.3847      (Ac, Sc, O)      (Ac, Sc, O)
11    Ac1Tl1Te2    0.6253     (Ac, Tl, Te)     (Ac, Tl, Te)
12      Ac16S24    2.2962          (Ac, S)          (Ac, S)
13     Ac2Br2O2    4.2410      (Ac, Br, O)      (Ac, Br, O)
14       Ac2Br6    4.1033         (Ac, Br)         (Ac, Br)
15     Ac2Cl2O2    4.4451      (Ac, Cl, O)      (Ac, Cl, O)
16       Ac2Cl6    5.0865         (Ac, Cl)         (Ac, Cl)
17        Ac2I6    2.5892          (Ac, I)          (Ac, I)
18        Ac2N2    0.0517          (Ac, N)          (Ac, N)
19        Ac2O3    3.5226          (Ac, O)          (Ac, O)
20        Ac4S6    3.0275          (Ac, S)          (Ac, S)
21     Ag1As1F6    1.6806      (Ag, As, F)      (Ag, As, F)
22     Ag1Bi1O2    0.9564      (Ag, Bi, O)      (Ag, Bi, O)
23  Ag1Bi1Pb1S3    0.0683  (Ag, Bi, Pb, S)  (Ag, Bi, Pb, S)
24     Ag1Bi1S2    0.5212      (Ag, Bi, S)      (Ag, Bi, S)
25    Ag1Bi2F12    0.3971      (Ag, Bi, F)      (Ag, Bi, F)
26       Ag1Br1    0.9506         (Ag, Br)         (Ag, Br)
27     Ag1Br1O3    2.3830      (Ag, Br, O)      (Ag, Br, O)
28       Ag1Cl1    0.9522         (Ag, Cl)         (Ag, Cl)
29     Ag1Cl1O3    2.7117      (Ag, Cl, O)      (Ag, Cl, O)

In [102]:
mp_trans_df['composition'].value_counts()

composition
(Si, O)              31
(Cd, I)              24
(Zn, S)              24
(Si, C)              23
(S)                  14
                     ..
(Zr, P, W, O)         1
(Zr, Te, Br)          1
(Zr, V, O)            1
(Zr, Zn, P, S, O)     1
(Ac, Ga, Te)          1
Name: count, Length: 40652, dtype: int64

In [128]:
len(mp_trans_df['composition'].unique())

40652

In [5]:
exp_df.head()

            composition  band_gap
0    Ag0.1Cd0.8In2.1Te4      0.29
1  Ag0.25Cd0.5In2.25Te4      0.39
2   Ag0.2Cd0.75In2.1Te4      0.54
3    Ag0.4Cd0.2In2.4Te4      0.42
4    Ag0.4Cd0.5In2.2Te4      0.19

In [55]:
exp_df.shape

(2422, 2)

- Change the composition str to composition class, then match again

In [66]:
exp_trans_df = stc.featurize_dataframe(exp_df, 'composition', ignore_errors=True)

StrToComposition:   0%|          | 0/2422 [00:00<?, ?it/s]

In [95]:
exp_trans_df.rename(columns={'composition': 'composition_', 'composition_type': 'composition'}, inplace=True)

In [96]:
exp_trans_df.head()

           composition_  band_gap       composition
0    Ag0.1Cd0.8In2.1Te4      0.29  (Ag, Cd, In, Te)
1  Ag0.25Cd0.5In2.25Te4      0.39  (Ag, Cd, In, Te)
2   Ag0.2Cd0.75In2.1Te4      0.54  (Ag, Cd, In, Te)
3    Ag0.4Cd0.2In2.4Te4      0.42  (Ag, Cd, In, Te)
4    Ag0.4Cd0.5In2.2Te4      0.19  (Ag, Cd, In, Te)

In [107]:
exp_trans_df['composition'].value_counts()

composition
(Ge, Sn)           2
(In, As, Ga, P)    2
(Pb, Se, Sn)       2
(Pb, Se, Sn)       2
(Pb, Se, Sn)       2
                  ..
(Ag, Al, Te)       1
(Ag, As, S)        1
(Ag, As, Se)       1
(Ag, As, Te)       1
(Zn, In, Se)       1
Name: count, Length: 2413, dtype: int64

In [112]:
match_df = pd.merge(mp_trans_df, 
        exp_trans_df, on='composition', how='inner').rename(
    columns={
        'band_gap_x': 'mp_bandgap',
        'band_gap_y': 'exp_bandgap',
    }
)

In [113]:
match_df.shape

(1612, 6)

In [119]:
groups = match_df.groupby('composition')

In [127]:
 # show the first 5 most sizes groups dataframes
for name, group in groups:
    if group.shape[0] > 10:
        display(group)

,composition__x,mp_bandgap,composition_type,composition,composition__y,exp_bandgap
314,Cd1I2,2.419500,"(Cd, I)","(Cd, I)",CdI2,3.8
320,Cd10I20,2.375475,"(Cd, I)","(Cd, I)",CdI2,3.8
321,Cd11I22,2.345640,"(Cd, I)","(Cd, I)",CdI2,3.8
323,Cd12I24,2.377973,"(Cd, I)","(Cd, I)",CdI2,3.8
324,Cd13I26,2.405140,"(Cd, I)","(Cd, I)",CdI2,3.8
325,Cd14I28,2.338283,"(Cd, I)","(Cd, I)",CdI2,3.8
326,Cd15I30,2.352333,"(Cd, I)","(Cd, I)",CdI2,3.8
327,Cd16I32,2.410933,"(Cd, I)","(Cd, I)",CdI2,3.8
328,Cd17I34,2.370650,"(Cd, I)","(Cd, I)",CdI2,3.8
329,Cd18I36,2.374300,"(Cd, I)","(Cd, I)",CdI2,3.8
330,Cd19I38,2.330150,"(Cd, I)","(Cd, I)",CdI2,3.8
340,Cd2I4,2.365900,"(Cd, I)","(Cd, I)",CdI2,3.8
354,Cd20I40,2.321700,"(Cd, I)","(Cd, I)",CdI2,3.8
355,Cd21I42,2.345000,"(Cd, I)","(Cd, I)",CdI2,3.8
356,Cd22I44,2.340300,"(Cd, I)","(Cd, I)",CdI2,3.8
359,Cd25I50,2.359700,"(Cd, I)","(Cd, I)",CdI2,3.8
360,Cd29I58,2.356900,"(Cd, I)","(Cd, I)",CdI2,3.8
361,Cd3I6,2.342100,"(Cd, I)","(Cd, I)",CdI2,3.8
371,Cd4I8,2.369067,"(Cd, I)","(Cd, I)",CdI2,3.8
374,Cd5I10,2.325740,"(Cd, I)","(Cd, I)",CdI2,3.8
375,Cd6I12,2.250990,"(Cd, I)","(Cd, I)",CdI2,3.8
376,Cd7I14,2.369529,"(Cd, I)","(Cd, I)",CdI2,3.8
377,Cd8I16,2.367475,"(Cd, I)","(Cd, I)",CdI2,3.8
381,Cd9I18,2.370211,"(Cd, I)","(Cd, I)",CdI2,3.8

,composition__x,mp_bandgap,composition_type,composition,composition__y,exp_bandgap
1541,Zn1S1,2.019200,"(Zn, S)","(Zn, S)",ZnS,3.704
1544,Zn10S10,2.025940,"(Zn, S)","(Zn, S)",ZnS,3.704
1546,Zn12S12,2.022400,"(Zn, S)","(Zn, S)",ZnS,3.704
1547,Zn14S14,1.739750,"(Zn, S)","(Zn, S)",ZnS,3.704
1549,Zn16S16,2.028300,"(Zn, S)","(Zn, S)",ZnS,3.704
1550,Zn18S18,2.008450,"(Zn, S)","(Zn, S)",ZnS,3.704
1562,Zn2S2,2.070100,"(Zn, S)","(Zn, S)",ZnS,3.704
1570,Zn20S20,2.021067,"(Zn, S)","(Zn, S)",ZnS,3.704
1571,Zn22S22,2.011233,"(Zn, S)","(Zn, S)",ZnS,3.704
1574,Zn24S24,2.022154,"(Zn, S)","(Zn, S)",ZnS,3.704
1575,Zn26S26,1.929640,"(Zn, S)","(Zn, S)",ZnS,3.704
1576,Zn28S28,2.020429,"(Zn, S)","(Zn, S)",ZnS,3.704
1577,Zn3S3,2.063900,"(Zn, S)","(Zn, S)",ZnS,3.704
1579,Zn32S32,1.858100,"(Zn, S)","(Zn, S)",ZnS,3.704
1580,Zn34S34,2.029100,"(Zn, S)","(Zn, S)",ZnS,3.704
1581,Zn36S36,2.001450,"(Zn, S)","(Zn, S)",ZnS,3.704
1585,Zn4S4,2.055550,"(Zn, S)","(Zn, S)",ZnS,3.704
1588,Zn40S40,1.888500,"(Zn, S)","(Zn, S)",ZnS,3.704
1589,Zn44S44,2.017650,"(Zn, S)","(Zn, S)",ZnS,3.704
1591,Zn5S5,2.056550,"(Zn, S)","(Zn, S)",ZnS,3.704
1593,Zn6S6,2.035750,"(Zn, S)","(Zn, S)",ZnS,3.704
1594,Zn64S64,1.998800,"(Zn, S)","(Zn, S)",ZnS,3.704
1595,Zn7S7,2.039600,"(Zn, S)","(Zn, S)",ZnS,3.704
1598,Zn8S8,2.034750,"(Zn, S)","(Zn, S)",ZnS,3.704